<h5  th:if="${canonical!=null}">
    Simplification
</h5>
<table th:if="${canonical!=null}" border="0">
    <tr>
        <td id="diff_formula" colspan="2">
            <div>
                [[${formula}]]
            </div>
            <script>
                load("#diff_formula", {'formula': '[[${formula}]]'}, "[[${request.scheme + '://' + request.serverName + ':' + request.serverPort + request.contextPath + '/html'}]]")
            </script>
        </td>
    </tr>
    <tr th:each="result, stat :${results}">
        <td width="120px">
            <button class="btn btn-secondary" data-toggle="modal" th:onclick="modal[[${stat.count}]]()">Step details
                <script>
                    function modal[[${stat.count}]]() {
                        $('[[${'#modal_'+stat.count}]]').modal('toggle')
                    }
                </script>
            </button>
            <div class="modal fade" th:id="${'modal_'+stat.count}">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">
                                Step Details
                            </h4>
                            <button type="button" class="close" data-dismiss="modal">
                                &times;
                            </button>
                        </div>
                        <div class="modal-body">
                            <h5>Previous Step : </h5>
                            <div th:id="${'prevStep_'+stat.index}" th:if="${stat.index == 0}">
                                [[${formula}]]
                                <script>
                                    load("#[[${'prevStep_'+stat.index}]]", {'formula': '[[${formula}]]'}, "[[${request.scheme + '://' + request.serverName + ':' + request.serverPort + request.contextPath + '/html'}]]")
                                </script>
                            </div>
                            <span  th:if="${stat.index > 0}" th:id="${'prevStep_'+stat.count}">
                                <div>
                                    [[${results.get(stat.index-1).currentExpression}]]
                                </div>
                                <script>
                                    load("#[[${'prevStep_'+stat.count}]]", {'formula': '[[${results.get(stat.index-1).currentExpression}]]'}, "[[${request.scheme + '://' + request.serverName + ':' + request.serverPort + request.contextPath + '/html'}]]")
                                </script>
                            </span>


                            <br/>

                            <h5>Change</h5>
                            <div>
                                <h6>From Step : </h6>
                                <div th:id="${'fromStep_'+stat.count}">
                                    [[${result.fromExpression}]]
                                    <script>
                                        load("#[[${'fromStep_'+stat.count}]]", {'formula': '[[${result.fromExpression}]]'}, "[[${request.scheme + '://' + request.serverName + ':' + request.serverPort + request.contextPath + '/html'}]]")
                                    </script>
                                </div>
                                <h6>To Step : </h6>
                                <div th:id="${'toStep_'+stat.count}">
                                    [[${result.toExpression}]]
                                    <script>
                                        load("#[[${'toStep_'+stat.count}]]", {'formula': '[[${result.toExpression}]]'}, "[[${request.scheme + '://' + request.serverName + ':' + request.serverPort + request.contextPath + '/html'}]]")
                                    </script>
                                </div>
                                <h6>Reason : </h6>
                                <div>[[${result.reason}]]</div>
                            </div>

                            <br/>

                            <h5>Current Step : </h5>

                            <div th:id="${'currentStep_'+stat.count}">
                                [[${result.currentExpression}]]
                                <script>
                                    load("#[[${'currentStep_'+stat.count}]]", {'formula': '[[${result.currentExpression}]]'}, "[[${request.scheme + '://' + request.serverName + ':' + request.serverPort + request.contextPath + '/html'}]]")
                                </script>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <span  th:id="${'result_'+stat.count}">
                <div>
                    [[${result.currentExpression}]]
                </div>
                <script>
                    load("#[[${'result_'+stat.count}]]", {'formula': '[[${result.currentExpression}]]'}, "[[${request.scheme + '://' + request.serverName + ':' + request.serverPort + request.contextPath + '/html'}]]")
                </script>
            </span>
        </td>

    </tr>

    <tr>
        <td colspan="2">
            <br/>
            <h4>Canonical SOP Form</h4>
            <div id="cano_formula">
                [[${canonical}]]
                <script>
                    load("#cano_formula", {'formula': '[[${canonical}]]'}, "[[${request.scheme + '://' + request.serverName + ':' + request.serverPort + request.contextPath + '/html'}]]")
                </script>

            </div>
        </td>
    </tr>

 </table>
<div  th:if="${canonical==null}" style="color: red">
    <center>ERROR OCCURED</center>
</div>
